/.idea/.gitignore
/.idea/koploper2database.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/etc/config.py
/output/*
/test_omgeving/*
/etc/__init__.py
/dist/
/lib/__init__.py
